__pycache__
.venv
.env
gerar_dados.ipynb
/data/resultado/*
lista de proximos passos.txt
data/decisao_inicial/
data/despacho_saneador/
data/experimentos_prof_vasco/
data/replica
data/resultado/
data/alegacoes_finais/
data/laudo_pericial/
amostra-relavidacao1-240920-50amostras_revisao.csv
modelos_llama
txts
instalar_modelos.sh
.venv_310
scripts
executar_testes.sh
log_execucao.txt
prompts/decisao_inicial/
prompts/despacho_saneador/
prompts/replica/
prompts/alegacoes_finais/
prompts/laudo_pericial/
resultados